body {
    margin-top: 56px;
}

.banner {
    height: 100vh;
    background: url('../images/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.banner-me {
    height: 400px;
    background: url('../images/banner-me.jpg');
    background-attachment: fixed;
}

.main-title {
    margin-top: 80px;
}